@mixin mint-card-bg {
  background: var(--primary-very-low);

  @media (prefers-color-scheme: light) {
    background: var(--header_background);
  }
}

:root {
  --mint-border-radius: 10px;
  --mint-hover-shadow: 4px 4px var(--tertiary-high);
  --mint-color-mint: #FDFDFF;
  --mint-color-blue: #B47DFA;
  --mint-color-square-gradient: linear-gradient(
    4deg,
    ter rgba(255, 140, 110, 1) 0%,
    rgba(180, 125, 250, 1) 100%
  );
}

$color-square-gradient: linear-gradient(
  4deg,
  rgba(255, 140, 110, 1) 0%,
  rgba(180, 125, 250, 1) 100%
);
$color-square-webkit-gradient: -webkit-linear-gradient(
  4deg,
  rgba(255, 140, 110, 1) 0%,
  rgba(180, 125, 250, 1) 100%
);
