@mixin mint-card-bg {
  background: var(--primary-very-low);

  @media (prefers-color-scheme: light) {
    background: var(--header_background);
  }
}

:root {
  --mint-border-radius: 16px;
  --mint-hover-shadow: 4px 4px var(--tertiary-high);
  --mint-color-mint: #FDFDFF;
  --mint-color-blue: #B47DFA;
  --mint-color-square-gradient: #FF8C6E;
}

$color-square-gradient: #FF8C6E;
$color-square-webkit-gradient: #FF8C6E;
